@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Redressed";
}
body {
  background-image: url("Media/Backgrounds/hubbg.jpg");
  background-size: cover;
  background-attachment: fixed;
}

/* GOUP -------------------------------------------------*/

.goup a {
  z-index: 2;
}
.goup img {
  float: right;
  position: fixed;
  width: 2.5vw;
  margin-top: 0vw;
  margin-left: 0.8vw;
}

/* NAVBAR -------------------------------------------------*/

#navbar {
  list-style-type: none;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: #9a2425ff;
  position: fixed;
  border-bottom: #b78845 solid 3px;
  z-index: 2;
}
#navbar li {
  float: left;
}
#navbar li a {
  display: block;
  color: #c69754;
  font-size: 0.9vw;
  font-weight: bold;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}
#navbar li a:hover:not(.active) {
  background-color: #A57633;
}
.activenav {
  background-color: #f4d4a5;
}

.workinprogress img {
    height: 20vw;
    display: inline;
    padding: 1vw;
}
.workinprogress p {
    font-size: 6vw;
    font-weight: bolder;
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
}
.workinprogress {
    text-align: center;
    margin-top: 4vw;
}
