@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

@font-face {
  font-family: "Chinese Rocks";
  src: url(Fonts/chinese rocks rg.otf);
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  background-image: url("Backgrounds/2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  margin-top: 47px;
}

h1 {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.5);
  border-radius: 50px;
  border-color: #9E753B;
  border-style: solid;
  border-width: 2px;
  color: #b78845;
  font-size: 5vw;
  font-family: "Redressed";
  font-weight: bold;
  position: absolute;
  margin-top: -16vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 70%;
  padding: 20px;
  text-align: center;
}

/* NAVBAR -------------------------------------------------*/

#navbar {
  list-style-type: none;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: #9a2425ff;
  position: fixed;
  border-bottom: #b78845 solid 3px;
}

li {
  float: left;
}

li a {
  display: block;
  font-family: "Redressed";
  color: #c69754;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #A57633;
}

.activenav {
  background-color: #f4d4a5;
}

.pdf {
  font-family: 'Redressed';
  font-size: 30px;
  display: inline-block;
  margin: 15px 0px 0px 45px;
  padding: 10px;
  color: #D1A25F;
  background-color: #9a2425ff;
  border-color: #b78845;
  border-style: solid;
  border-radius: 20px;
  border-width: 3px;
}

/* BUTTONS -------------------------------------------------*/

#myBtnContainer {
  display: grid;
  float: left;
  margin-left: 15px;
  margin-top: 15px;
  padding: 10px;
  background: rgb(247,235,222);
  background: radial-gradient(circle, rgba(247,235,222,0.6320903361344538) 100%, rgba(255,255,255,1) 100%);
  border-radius: 20px;
  border-style: double;
  border-width: 8px;
  border-color: #c69754;
}

.btn {
  font-family: "Redressed";
  font-size: 120%;
  font-weight: bold;
  color: #D1A25F;
  border-style: double;
  border-radius: 10px;
  border-color: #c69754;
  border-width: 4px;
  padding: 5px;
  background-color: #9a2425ff;
  cursor: pointer;
}

.btn:hover {
  background-color: #A57633;
  color: #c69754;
  border-color: #c69754;
}

.btn.active {
  background-color: #f4d4a5;
}

/*-------------------------------------------------*/

.container {
 max-width: 90%;
 margin-left: 200px;
 margin-top: 11px;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 overflow: hidden;
}

.container p {
  font-family: "Redressed";
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  margin-bottom: 25px;
  margin-top: -10px;
  color: #D1A25F;
  background: rgb(154,36,37);
  background: radial-gradient(circle, rgba(154,36,37,1) 48%, rgba(135,31,32,1) 100%);
  border-color: #b78845;
  border-style: solid;
  border-radius: 20px;
  border-width: 3px;
}

.filterDiv {
  text-align: center;
  display: none;
  width: 250px;
  height: 330px;
  padding: 20px;
  margin: 5px;
  border-radius: 20px;
  border-color: #c69754;
  border-style: double;
  border-width: 8px;
  background: rgb(247,235,222);
  background: radial-gradient(circle, rgba(247,235,222,0.6320903361344538) 100%, rgba(255,255,255,1) 100%);
}

.show {
  display: block;
}

.container img {
  max-height: 260px;
  max-width: 270px;
}
