@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

@font-face {
  font-family: "Chinese Rocks";
  src: url("Fonts/chinese rocks rg.otf");
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Redressed";
}

body {
  background-image: url("../../Media/Backgrounds/catbg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* GOUP -------------------------------------------------*/

.goup a {
  z-index: 2;
}

.goup img {
  margin-left: 0.8vw;
  margin-top: -3vw;
  float: left;
  position: fixed;
  width: 2.5vw;
}

/* NAVBAR -------------------------------------------------*/

#navbar {
  list-style-type: none;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: #9a2425ff;
  position: fixed;
  border-bottom: #b78845 solid 3px;
  z-index: 2;
}

#navbar li {
  float: left;
}

#navbar .circus {
  font-size: 1.2vw;
  padding: 5px 10px;
  background-color:#b78845;
}

#navbar li a {
  display: block;
  font-size: 0.9vw;
  color: #c69754;
  font-weight: bold;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

#navbar li a:hover:not(.active) {
  background-color: rgb(119, 28, 30);
}

.activenav {
  background-color: #f4d4a5;
}


/* CATEGORIES ---------------------------------------------------------*/

#container {
  max-width: 80%;
  margin: 6% auto;
}

#cat-category {
  margin-bottom: 2vw;
  padding: 2.5vw;
  border-radius: 50px;
  border-color: #c69754;
  border-style: double;
  border-width: 8px;
  text-align: center;
}

#cat-category a {
  font-size: 5.5vw;
  color:darkred;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color:#c69754;
  text-decoration: none;
}

.herb {
  background-image: url("../../Media/Backgrounds/herb.png");
  background-size: 100%;
}

.house {
  background-image: url("../../Media/Backgrounds/house.png");
  background-size: 100%;
}

.furn {
  background-image: url("../../Media/Backgrounds/furn.png");
  background-size: 100%;
}

/* FOOTER ---------------------------------------------------------*/